@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

table {
    width: 100%;
}

thead, tbody {
    font-size: 80px;
}

thead {
    font-size: 125px;
}

th > img {
    width: 150px;
    height: 150px;
}

td > img {
    width: 125px;
    height: 125px;
}

th, tr, td {
    text-align: center;
}


